*{
    margin: 0; /*elimina margenes*/
    padding: 0; /*elimina rellenos*/
    font-family: Arial, Helvetica, sans-serif; /*fuente predeterminado*/
    font-size: 16px;/* define el tamaño de fiente*/
}

header {
    background-color: #3498db; /* color de fundo azul*/
    color: #fff; /*color de texto*/
    padding: 15px; /*espacio interno*/
    display: flex; /*organiza los elementos dentro del header*/
    justify-content: space-between; /*distribuye los elementos externos del header*/
    align-items: center; /* centra verticalmente los elementos dentro del header*/

}

h1 {
    margin: 0; /*elimina los margenes*/
}

nav ul {
    list-style: none; /*elimina los estilos predeterminados*/
    display: flex; /*se usa el flexbox para organizar los elementos en liena*/
}

nav li{
    margin: 20px; /*agrega espacios entre los elementos del menu*/
}

a{
    text-decoration: none; /* elimina el subrayado predeterminado de los enlaces*/
    color: #fff; /*color del texto*/
}